---
import BaseLayout from "../layouts/BaseLayout.astro";

import BlogPost from "../components/BlogPost.astro";
// import { getCollection } from "astro:content";
// const allPosts = await getCollection("posts");

const pageTitle = "JDS / Resources";
---

<BaseLayout pageTitle={pageTitle}>
	<section class="grid grid-cols-2 gap-12 items-center">
		<h1>Testing 123</h1>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
		/><br /><br /><br /><br /><br /><br />
	</section></BaseLayout
>
